@import "tailwindcss";

@theme {
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --font-sans: var(--font-outfit), sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: 20 10% 4%;
    --foreground: 20 10% 98%;

    --card: 20 10% 4%;
    --card-foreground: 20 10% 98%;

    --popover: 20 10% 4%;
    --popover-foreground: 20 10% 98%;

    --primary: 28 65% 55%;
    --primary-foreground: 28 85% 98%;

    --secondary: 14 30% 10%;
    --secondary-foreground: 210 40% 98%;

    --muted: 15 20% 10%;
    --muted-foreground: 25 10% 65%;

    --accent: 28 65% 55%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 15 15% 12%;
    --input: 15 15% 12%;
    --ring: 28 65% 50%;

    --radius: 0.75rem;
}

::selection {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/* Custom Gradients */
@utility text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-amber-400 to-orange-600;
}

@layer components {
    .container {
        @apply mx-auto px-6 max-w-[1200px] w-full;
    }
}